{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Order {{ oid }}{% endblock %}</h1>
{% endblock %}

{% block content %}

  <table>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
    </tr>
    {% for q in query %}
      <tr>
        {% if pid %}
        <td></td>
        {% else %}
        <td><a href="{{ url_for('orders.update', oid=oid, pid=q['pid']) }}">
  	  &#x26D4</a></td>
        {% endif %}
        <td>{{ q['name'] }}</td>
        <th align="right">{{ q['price'] }}</th>
      </tr>
    {% endfor %}
  </table>
  
  {% if pid %}
    <form action="{{ url_for('orders.delete', oid=oid, pid=pid) }}" method="post">
      <input class="danger" type="submit" value="Clear List"
       onclick="return confirm('Are you sure?');">
    </form>
  {% else %}
  <form action="{{ url_for('orders.create', oid=oid) }}">
    <input type="submit" value="&#x2611">
  </form>
  {% endif %}
  
  <hr>
  <form action="{{ url_for('orders.read') }}">
    <input type="submit" value="All Orders">
  </form>

{% endblock %}
