<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title> Crudy - Order {{ oid }} </title>
</head>

<body>

<form action="{{ url_for('index')}}">
  <button class="btn"><i class="fa fa-home"></i> </button>
</form>
<p><h1>Order {{ oid }}</h1></p>
 
<table>
  <tr>
    <th>Product</th>
    <th>Price</th>
  </tr>
  {% for q in query %}
    <tr>
      <td>{{ q['name']  }}</td>
      <th>{{ q['price'] }}</th>
    </tr>
  {% endfor %}
</table>

<form action="{{ url_for('.create', oid=oid) }}" style="display:inline">
  <input type="submit" value="&#x254B">
</form>
<form action="{{ url_for('.delete', oid=oid) }}" method="post" style="display:inline">
  <input class="danger" type="submit" value="Clear List"
   onclick="return confirm('Are you sure?');">
</form>

<hr>
<form action="{{ url_for('.read') }}">
  <input type="submit" value="All Orders">
</form>

</body>
</html>
