<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Restaurant Orders</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Itens</th>
    <th>Total</th>
  </tr>
  {% for q in query %}
    <tr>
    <td><a href="{{ url_for('.update', id=q['order_id']) }}">
        {{ q['order_id'] }}</a></td>
    <td>{{ q['count_names'] }}</td>
    <th>{{ q['sum_prices']  }}</th>
    </tr>
  {% endfor %}
</table>
<p><a href="{{ url_for('.create') }}">New Order</a></p>
<hr>
<p><a href="{{ url_for('index') }}">Home</a></p>
