<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title> Crudy - Restaurant Orders </title>
</head>

<body>

<form action="{{ url_for('index')}}">
  <button class="btn"><i class="fa fa-home"></i> </button>
</form>
<p><h1>Restaurant Orders</h1></p>
 
<table>
  <tr>
    <th>Order</th>
    <th>Created</th>
    <th>Total</th>
  </tr>
  {% for q in query %}
    <tr>
    <td><a href="{{ url_for('.update', oid=q['oid']) }}">{{ q['oid'] }}</a></td>
    <td>{{ q['created']  }}</td>
    <th align="right">{{ q['sum_prices'] }}</th>
    </tr>
  {% endfor %}
</table>

<form action="{{ url_for('.create') }}">
  <p><input type="submit" value="&#x254B"></p>
</form>

</body>
</html>
