{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Restaurant Manager{% endblock %}</h1>
{% endblock %}

{% block content %}

  <nav>
    <ul>
      <li><a href="{{ url_for('menu.read')}}">Menu</a></li>
      <li><a href="{{ url_for('orders.read')}}">Orders</a></li>
      <li><a href="{{ url_for('pool.create')}}">Survey</a></li>
    </ul>
  </nav>
  
  <p><h1>Summary</h1></p>
  <ul>
    <li><h3>Orders: {{ norders }}</h3></li>
    <li><h3>R$ {{ tot }}</h3></li>
  </ul>
  
  {% if norders %}
    <p></p>
    <div> {{ df }} </div>
    <hr>
    <form action="{{ url_for('main.save') }}" method="post">
      <input type="submit" value="Save"
       onclick="return confirm('Save MongoDB?');">
    </form>
  {% endif %}

{% endblock %}
