<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title> Crudy - Home </title>
</head>

<body>

<form action="{{ url_for('index')}}">
  <button class="btn"><i class="fa fa-home"></i> </button>
</form>
<p><h1>Restaurant Manager</h1></p>
 
<nav>
  <ul>
    <li><a href="{{ url_for('.menu.read')}}">Menu</a></li>
    <li><a href="{{ url_for('.orders.read')}}">Orders</a></li>
  </ul>
</nav>

<p><h2>Summary</h2></p>
<ul>
  <li><p>Orders: {{ no }}</p></li>
  <li><h4> R$ {{ tot }} </h4></li>
</ul>

<p></p>
<div> {{ df }} </div>

</body>
</html>
