<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title> Crudy - Item Editor </title>
</head>

<body>

<form action="{{ url_for('index')}}">
  <button class="btn"><i class="fa fa-home"></i> </button>
</form>
<p><h1>Item Editor</h1></p>
 
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}

<hr>
<form action="{{ url_for('.delete', id=id) }}" method="post">
  <input class="danger" type="submit" value="Delete"
   onclick="return confirm('Are you sure?');">
</form>

</body>
</html>
