<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Restaurant Menu</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  {% for q in query %}
    <tr>
      <td><a href="{{ url_for('.update', id=q['id']) }}">
	  {{ q['id'] }}</a></td>
      <td>{{ q['name']  }}</td>
      <td>{{ q['price'] }}</td>
    </tr>
  {% endfor %}
</table>

<form action="{{ url_for('.create') }}">
  <input type="submit" value="Add Item">
</form>

<hr>
<p><a href="{{ url_for('index') }}">Home</a></p>
